<ng-container *ngIf="dailyResetService.getDailiesReset() as dailiesReset">
    <div class="dailyResetContainer">
        <div class="dailyResetBox" *ngFor="let dailyReset of dailiesReset">
            <div class="informationContainer">
                <div class="fw tas">
                    <span>
                        {{dailyReset.zone}}
                    </span>
                </div>
                <span>
                    {{dailyReset.time | date: '	HH:mm'}}
                </span>
            </div>
        </div>
    </div>
</ng-container>