input {
    &.newPassword {
        anchor-name: --new-password;
    }
    
    &.confirmNewPassword {
        anchor-name: --confirm-new-password;
    }
}

button {
    &.clear_icon.newPassword {
        position-anchor: --new-password;
    }
    
    &.clear_icon.confirmNewPassword {
        position-anchor: --confirm-new-password;
    }
}