<dialog-component *ngIf="resetPasswordVisibility" [style]="dialogStyle.B" [dialogVisibility]="resetPasswordVisibility" [modal]="false" (onHide)="onResetCallBack()">
    <div body class="flex aic jcc column gap20 form" style="margin: 25px;">
            <h1 style="color: white; margin: 0; text-align: center;">Réinitialiser le mot de passe</h1>
            <div class="flex aic jcc column gap30" style="width: 315px;">
                <div class="flex fw column gap40" style="position: relative;">
                    <div class="flex fw column gap10">
                        <span style="color: white;">Nouveau mot de passe</span>
                        <input class="input newPassword" type="text" [(ngModel)]="newPassword" style="border-radius: 10px;">
                        <button *ngIf="newPassword" class="clear_icon newPassword" (click)="newPassword = ''">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25px" viewBox="0 0 24 24"><path d="M20 6.91L17.09 4L12 9.09L6.91 4L4 6.91L9.09 12L4 17.09L6.91 20L12 14.91L17.09 20L20 17.09L14.91 12L20 6.91Z" /></svg>
                        </button>
                    </div>
                    <div class="flex fw column gap10">
                        <span style="color: white;">Confirmer le mot de passe</span>
                        <input class="input confirmNewPassword" type="text" [(ngModel)]="confirmNewPassword" style="border-radius: 10px;">
                        <button *ngIf="confirmNewPassword" class="clear_icon confirmNewPassword" (click)="confirmNewPassword = ''">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25px" viewBox="0 0 24 24"><path d="M20 6.91L17.09 4L12 9.09L6.91 4L4 6.91L9.09 12L4 17.09L6.91 20L12 14.91L17.09 20L20 17.09L14.91 12L20 6.91Z" /></svg>
                        </button>
                    </div>
                </div>
                <button class="button" [disabled]="!isPasswordsIdentical || isPasswordEmpty" [class.disabled]="!isPasswordsIdentical || isPasswordEmpty" (click)="confirmPasswordReset()">
                    <span>Mettre a jour le mot de passe</span>
                </button>
            </div>
        </div>
</dialog-component>
