

<div class="flex column gap10 direct_notification_listing">
    <container-element *ngFor="let notification of notifications | async" [ngSwitch]="notification.severity" class="flex column gap10">
        <div class="notification error flex" *ngSwitchCase="notificationSeverity.ERROR">
            <div class="fh flex column jcc">
                <div class="bar error"></div>
            </div>
            <div class="flex aic">
                <div class="ripple_effect error">
                    <div class="round_icon flex aic jcc">
                        <svg class="error icon" xmlns="http://www.w3.org/2000/svg" width="25px" viewBox="0 0 24 24"><path d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" /></svg>
                    </div>
                </div>
            </div>
            <div class="flex column gap20 mt10 mb10 mr10 description_area">
                <span> 
                    {{notification.title}}
                </span>
                <span *ngIf="notification.detail" [innerHTML]="notification.detail"></span>
            </div>
            <button class="close_button flex aic jcc" (click)="notificationService.closeNotification(notification)">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="gray" width="25px"><path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" /></svg>
            </button>
            <div class="bottom_progress_bar" *ngIf="!notification.sticky">
                <div class="progress error" [ngStyle]="{ 'animation-duration': (notification.delay) + 'ms' }"></div>
            </div>
        </div>
        <div class="notification warning flex" *ngSwitchCase="notificationSeverity.WARNING">
            <div class="fh flex column jcc">
                <div class="bar warning"></div>
            </div>
            <div class=" flex aic">
                <div class="ripple_effect warning">
                    <div class="round_icon flex aic jcc">
                        <svg class="warning icon" xmlns="http://www.w3.org/2000/svg" width="25px" viewBox="0 0 24 24"><path d="M13 14H11V9H13M13 18H11V16H13M1 21H23L12 2L1 21Z" /></svg>
                    </div>
                </div>
            </div>
            <div class="flex column gap20 mt10 mb10 mr10 description_area">
                <span> 
                    {{notification.title}}
                </span>
                <span [innerHTML]="notification.detail"></span>
            </div>
            <button class="close_button flex aic jcc" (click)="notificationService.closeNotification(notification)">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="gray" width="25px"><path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" /></svg>
            </button>
            <div class="bottom_progress_bar" *ngIf="!notification.sticky">
                <div class="progress warning" [ngStyle]="{ 'animation-duration': (notification.delay) + 'ms' }"></div>
            </div>
        </div>
        <div class="notification info flex" *ngSwitchCase="notificationSeverity.INFO">
            <div class="fh flex column jcc">
                <div class="bar info"></div>
            </div>
            <div class="flex aic">
                <div class="ripple_effect info">
                    <div class="round_icon flex aic jcc">
                        <svg class="info icon" xmlns="http://www.w3.org/2000/svg" width="25px" viewBox="0 0 24 24"><path d="M13,9H11V7H13M13,17H11V11H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" /></svg>
                    </div>
                </div>
            </div>
            <div class="flex column gap20 mt10 mb10 mr10 description_area">
                <span> 
                    {{notification.title}}
                </span>
                <span *ngIf="notification.detail" [innerHTML]="notification.detail"></span>
            </div>
            <button class="close_button flex aic jcc" (click)="notificationService.closeNotification(notification)">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="gray" width="25px"><path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" /></svg>
            </button>
            <div class="bottom_progress_bar" *ngIf="!notification.sticky">
                <div class="progress info" [ngStyle]="{ 'animation-duration': (notification.delay) + 'ms' }"></div>
            </div>
        </div>
        <div class="notification ok flex" *ngSwitchCase="notificationSeverity.OK">
            <div class="fh flex column jcc">
                <div class="bar ok"></div>
            </div>
            <div class="flex aic">
                <div class="ripple_effect ok">
                    <div class="round_icon flex aic jcc">
                        <svg class="ok icon" xmlns="http://www.w3.org/2000/svg" width="25px" viewBox="0 0 24 24"><path d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z" /></svg>
                    </div>
                </div>
            </div>
            <div class="flex column gap20 mt10 mb10 mr10 description_area">
                <span> 
                    {{notification.title}}
                </span>
                <span [innerHTML]="notification.detail"></span>
            </div>
            <button class="close_button flex aic jcc" (click)="notificationService.closeNotification(notification)">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="gray" width="25px"><path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" /></svg>
            </button>
            <div class="bottom_progress_bar" *ngIf="!notification.sticky">
                <div class="progress ok" [ngStyle]="{ 'animation-duration': (notification.delay) + 'ms' }"></div>
            </div>
        </div>
    </container-element>
</div>
