.whiteBar {
    height: 2px;
    background-color: #ffffff;
    width: 100%;
}

.verticalBar {
    width: 2px;
    background-color: #ffffff;
    height: 100%;
}

.groupsDisplay {
    width: 85vw;
    height: 85vh;
}

.groupNameListing {
    background-color: rgb(104, 104, 104);
}