.whiteBar {
    height: 2px;
    background-color: #ffffff;
    width: 100%;
}

.groupsDisplay {
    width: 85vw;
    height: 85vh;
}

.imgPlaceholder {
    width: 80px;
    height: 80px;
    background-color: rgb(49, 49, 49);
    border-radius: 15px;
    aspect-ratio: 1;
}

.groupItem {
    border-radius: 15px;
    background-color: rgb(31, 31, 31);
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &.selected {
        background-color: rgba(128, 128, 128, 0.7);
        cursor: default;
    }

    & span {
        color: white;
    }

    &:hover {
        background: rgba(128, 128, 128, 0.7);
        box-shadow: 0 2px 5px rgb(39, 39, 39);
        transform: translateY(-3px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
}

.sendButton {
    border: none;
    background: transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    fill: grey;

    &:hover {
        transform: scale(1.2);
        fill: rgb(255, 255, 255);
    }
}

.profilPicture {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 15px;
  object-fit: cover;
  border: solid 3px rgb(205, 205, 205);
  overflow: hidden;

  img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
  }
}

.ownMessage {
    background-color: red;
}

.otherMessage {

}