@use './../variables' as vars;

main {
  background-image: url("/assets/img/Background.png");
  background-size: cover;
  height: vars.$height-after-topbar;
}

.topbar {
  height: vars.$topbar-height;
  border-bottom: white solid 2px;
  box-sizing: border-box;
}

app-topbar {
  width: 100%;
}