<div class="topbar-bg fh fw flex aic jcsb">
    <button class="topbar_item home_button" (click)="goTo('')">
        <div class="ml10 flex aic gap10">
            <div class="img-container">
                <img src="/assets/img/Paimon.png" height="50px">
            </div>
            <span class="title">GeniTracker</span>
        </div>
    </button>
    <div class="flex aic jscb gap10">
        <button class="topbar_item" (click)="goTo('/characters')">
            <div class="flex aic gap5">
                <div class="img-container">
                    <img src="./../../assets/img/Characters.png" height="40px">
                </div>
                <span>Personnages</span>
            </div>
        </button>
        <button class="topbar_item">
            <div class="flex aic gap5">
                <div class="img-container">
                    <img src="./../../assets/img/Weapons.png" height="40px">
                </div>
                <span>Armes</span>
            </div>
        </button>
        <button class="topbar_item">
            <div class="flex aic gap5">
                <div class="img-container">
                    <img src="./../../assets/img/Events.png" height="40px">
                </div>
                <span>Événements</span>
            </div>
        </button>
    </div>
</div>
