<div class="topbar-bg fh fw flex aic">
    <div class="fh flex jcc aic" style="flex: 1"></div>
    <div class="fh flex jcc aic" style="flex: 1">
        <div class="fh flex aic jscb gap10">
            <button *ngIf="!isHome" class="topbar_item flex jcc aic" (click)="goTo('')" [@enter-leave]>
                <div class="flex aic gap10">
                    <div class="img_container">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="white" height="40px" viewBox="0 0 24 24"><path d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z" /></svg>
                    </div>
                    <span>Accueil</span>
                </div>
            </button>
            <button class="topbar_item flex jcc aic" (click)="goTo('/characters')">
                <div class="flex aic gap5">
                    <div class="img_container">
                        <img src="assets/img/Characters.png" height="40px">
                    </div>
                    <span>Personnages</span>
                </div>
            </button>
            <button class="topbar_item flex jcc aic" (click)="goTo('/weapons')">
                <div class="flex aic gap5">
                    <div class="img_container">
                        <img src="assets/img/Weapons.png" height="40px">
                    </div>
                    <span>Armes</span>
                </div>
            </button>
            <button class="topbar_item flex jcc aic">
                <div class="flex aic gap5">
                    <div class="img_container">
                        <img src="assets/img/Events.png" height="40px">
                    </div>
                    <span>Événements</span>
                </div>
            </button>
        </div>
    </div>
    <div class="fh flex jce aic" style="flex: 1; margin-right: 10px;">
        <div class="fh flex aic jscb gap10">
            @if(currentUser | async) {
                <button class="topbar_item flex jcc aic" (click)="chatVisibility = !chatVisibility">
                    <div class="flex aic gap10">
                        <div class="img_container flex">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="white" height="30px" viewBox="0 0 24 24"><path d="M20,2H4A2,2 0 0,0 2,4V22L6,18H20A2,2 0 0,0 22,16V4A2,2 0 0,0 20,2M6,9H18V11H6M14,14H6V12H14M18,8H6V6H18" /></svg>
                        </div>
                    </div>
                </button>
                <button class="topbar_item openButton flex jcc aic" popovertarget="openList">
                    <div class="flex aic gap10">
                        <div class="img_container">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="white" height="40px" viewBox="0 0 24 24"><path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" /></svg>
                        </div>
                        <span>Profil</span>
                    </div>
                </button>
            } @else {
                <button class="topbar_item flex jcc aic" (click)="formVisibility = !formVisibility">
                    <div class="flex aic gap10">
                        <div class="img_container">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="white" height="40px" viewBox="0 0 24 24"><path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" /></svg>
                        </div>
                        <span>Se connecter</span>
                    </div>
                </button>
            }
        </div>
    </div>
</div>

<div [@enter-leave] id="openList" class="open-List" popover>
    <div class="flex aic jcc column gap20">
        <button class="button" (click)="goTo('/admin')">Admin</button>
        <button class="button" (click)="authService.deconnexion(); closeList()">Se déconnecter</button>
    </div>
</div>

<app-auth-form [formVisibility]="formVisibility" [onLoginCallBack]="formVisibilityCallBack.bind(this)"></app-auth-form>

<app-chat [chatVisibility]="chatVisibility" [onCloseCallBack]="chatVisibilityCallBack.bind(this)"></app-chat>

<app-reset-password-form [resetPasswordVisibility]="resetPasswordVisibility" [oobCode]="oobCodeParam" [onResetCallBack]="resetPasswordVisibilityCallBack.bind(this)"></app-reset-password-form>