.topbar-bg {
    background: radial-gradient(circle, rgba(56,56,56,1) 25%, rgba(0,0,0,1) 115%);
}

.title {
    color: white;
    font-size: x-large;
}

.topbar-section {
    color: white;
    &:hover{
        cursor: pointer;
    }
}

.topbar_item {
    border: 0px solid transparent;
    background-color: transparent;
    cursor: pointer;
}

.topbar_item:hover {
    .img-container::before {
        position: fixed;
        content: '';
        width: 40px;
        height: 40px;
        background: rgba(255, 255, 255, 0.6);
        filter: blur(4px);
        border-radius: 50%;
        z-index: 0;
        animation: fadeIn 0.5s ease;
    }
}

.img-container img {
    position: relative;
    z-index: 1;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}