<div class="flex aic jcc">
    @if (!versions.length) {
        <div class="spinner"></div>
    }
    @else {
        <div *ngIf="versions" class="flex column gap20">
            <div class="versions-display">
                <div *ngFor="let version of versions" class="version-card" (click)="updateVersion(version)">
                    <div class="fw img-container">
                        <img height="100%" width="100%" [src]="version.img_url"/>
                        <div class="version fh">
                            <span>{{version.version}}</span>
                        </div>
                    </div>
                    <div class="flex fh column aic jcc">
                        <span>{{version.title}}</span>
                    </div>
                </div>
            </div>

            <button class="button" (click)="addVersionDialogVisibility = !addVersionDialogVisibility">
                <span>Ajouter une version</span>
            </button>
        </div>
    }
</div>

<dialog-component *ngIf="addVersionDialogVisibility" [style]="dialogStyle.HBF" [dialogVisibility]="addVersionDialogVisibility" [modal]="true" (onHide)="addVersionDialogVisibility = false">
    <div header>
        <h1>Ajouter une version</h1>
    </div>
    <div body>
        <div class="flex column aic jcc gap20" style="width: 45vw; height: 30vh;">
            <label for="version">Version</label>
            <input type="text" [(ngModel)]="newVersion.version">
            <span for="title">Nom de la version</span>
            <input type="text" [(ngModel)]="newVersion.title">
            <input type="checkbox" [(ngModel)]="newVersion.active"><span>Version actuelle</span>
            <span>Image de la version</span>
            <input type="text" [(ngModel)]="newVersion.img_url">
        </div>
    </div>
    <div footer>
        <button class="button m10" (click)="createVersion()">Créer la version</button>
    </div>
</dialog-component>

<dialog-component *ngIf="updateVersionDialogVisibility && selectedVersion" [style]="dialogStyle.B" [dialogVisibility]="updateVersionDialogVisibility" [modal]="true" (onHide)="updateVersionDialogVisibility = false">
    <div body class="flex column">
        <img [src]="selectedVersion.img_url" width="50%">
        <span>{{selectedVersion.version}}</span>
    </div>
</dialog-component>