.versions-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.version-card {
    border: 1px solid rgba(204, 204, 204, 0.103);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    background-color: black;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        background: rgba(255, 255, 255, 0.1);
        transform: translateY(-3px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }

    .version {
        position: relative;
        top: -40px;
        left: -100px;
        color: white;
        font-weight: bold;
        font-size: 1.7em;
        width: fit-content;
    }
}