<div class="countdown-container">
  <div class="time-group">
    <span class="digit">{{ hours[0] }}</span>
    <span class="digit">{{ hours[1] }}</span>
    <span class="separator">:</span>
  </div>
  
  <div class="time-group">
    <span class="digit">{{ minutes[0] }}</span>
    <span class="digit">{{ minutes[1] }}</span>
    <span class="separator">:</span>
  </div>
  
  <div class="time-group">
    <span class="digit">{{ seconds[0] }}</span>
    <span class="digit">{{ seconds[1] }}</span>
  </div>
</div>