<div class="flex fh column aic" [ngClass]="{'jcc': loadingCharacters}">
    <div *ngIf="!loadingCharacters" class="flex column fh fw aic" [ngClass]="{'jcc': loadingCharacters}">
        <div class="mt50 mb50 fw">
            <div class="flex gap20 aic">
                <div class="flex aic jcc" style="flex : 1">
                </div>
                <div class="flex aic jcc" style="position: relative; flex : 1">
                    <input class="search_bar fw" type="text" id="character_name" name="character_name" [(ngModel)]="characterNameSearch" aria-autocomplete="list">
                    <button *ngIf="characterNameSearch" class="clear_icon" (click)="characterNameSearch = ''">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25px" viewBox="0 0 24 24"><path d="M20 6.91L17.09 4L12 9.09L6.91 4L4 6.91L9.09 12L4 17.09L6.91 20L12 14.91L17.09 20L20 17.09L14.91 12L20 6.91Z" /></svg>
                    </button>
                </div>
                <div style="flex: 1" class="flex aic jcc">
                    <div class="filter-container flex row gap10 aic jcc" 
                    (mouseenter)="chevronVisibility = true"
                    (mouseleave)="chevronVisibility = false"
                    >
                        <button [@enter-leave] *ngIf="chevronVisibility" class="svg_button" (click)="previousFilter()">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="rgb(188, 188, 188)" width="20px" viewBox="0 0 24 24"><path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" /></svg>
                        </button>
                        <div class="flex aic jcc gap10">
                            <button (click)="updateFilterOrder()" class="svg_button">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="rgb(188, 188, 188)" width="25px" viewBox="0 0 24 24"><path d="M6,13H18V11H6M3,6V8H21V6M10,18H14V16H10V18Z" /></svg>
                            </button>
                            <span>{{filter}}</span>
                        </div>
                        <button [@enter-leave] *ngIf="chevronVisibility" class="svg_button" (click)="nextFilter()">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="rgb(188, 188, 188)" width="20px" viewBox="0 0 24 24"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" /></svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="fw characters_display">
            @if (filteredCharactersCard.length != 0) {
                <div [@enter-leave] [@click]="characterCard.click" *ngFor="let characterCard of filteredCharactersCard" 
                    (click)="toggleClickAnimation(characterCard.click); getGlobalCharacterInformations(characterCard.character.name!)" 
                    class="fw flex jcc">
                    <div [@hover]="characterCard.hover" 
                        (mouseenter)="characterCard.hover = true"
                        (mouseleave)="characterCard.hover = false" 
                        class="flex aic character_wrapper" 
                        [ngClass]="characterCard.character.vision"
                        >
                        <img class="character_icon" [src]=characterCard.character.icon width="80" height="80">
                        <div [ngClass]="characterCard.character.vision" class="flex column fh aic jcc fw character_lite_info_wrapper">
                            <span class="character_name">
                                {{characterCard.character.name}}
                            </span>
                            <div class="vision"></div>
                            <span [@enter-leave] *ngIf="characterCard.hover" class="release_date">{{characterCard.character.releaseDate}}</span>
                        </div>
                    </div>
                </div>
            } @else {
                <div class="flex aic jcc">
                    <h1 class="no_character_found">Aucun personnage trouvé</h1>
                </div>
            }
        </div>
    </div>
</div>

<dialog-component *ngIf="loadingCharactersDialogVisibility" [style]="dialogStyle.B" [dialogVisibility]="loadingCharacters" [modal]="false" (onHide)="loadingCharactersDialogVisibility = false">
    <div body>
        <div class="flex" style="width: 60vw; height: 60vh;">
            <div class="flex aic jcc column gap50" style="flex: 1;">
                <div class="spinner"></div>
                <span class="loading_chars">Chargements des personnages...</span>
            </div>
            <div class="landscape" style="flex: 2;">
                <img [src]='randomPicturePath'>
            </div>
        </div>
    </div>
</dialog-component>

<dialog-component *ngIf="dialogVisibility" [height]="loadingCharacter ? '60vh' : '80vh'" [width]="loadingCharacter ? '60vw' : '75vw'" [style]="dialogStyle.B" [dialogVisibility]="dialogVisibility" [modal]="loadingCharacter ? false : true" (onHide)="dialogVisibility = false">
    <div body [class]="isInTransition ? 'flex aic jcc' : ''" class="fh fw">
        @if(!loadingCharacter && !isInTransition) {
            <div [@enter-leave] class="flex fh jcc fw" *ngIf="selectedChar && selectedCharArts">
                <div class="fh characterSplash" style="flex: 1">
                    @if(selectedCharArts.gachaCard) {
                        <img height="100%" width="100%" [src]="selectedCharArts.gachaCard">
                    }
                    @else {
                        <img height="100%" width="100%" [src]="'assets/img/NoCharacterCard.webp'">
                    }
                </div>
                <div style="flex: 5" class="flex column mt10 mb10 ml20 mr10">
                    <div class="flex fw jcsb">
                        <h1 style="color: white; width: fit-content;">{{selectedChar.name}}</h1>
                        <h1 style="color: white; width: fit-content;">{{selectedChar.rarity}}</h1>
                    </div>
                </div>
            </div>
        }
        @if(loadingCharacter) {
            <div [@enter-leave] class="flex" style="width: 60vw; height: 60vh;">
                <div class="flex aic jcc column gap50" style="flex: 1;">
                    <div class="spinner"></div>
                    <span class="loading_chars">Chargements des informations...</span>
                </div>
                <div class="landscape" style="flex: 2;">
                    <img [src]='randomPicturePath'>
                </div>
            </div>
        }
    </div>
</dialog-component>