<div class="flex fh column aic" [ngClass]="{'jcc': loadingCharacters}">
    <div *ngIf="!loadingCharacters" class="flex column fh fw aic" [ngClass]="{'jcc': loadingCharacters}">
        <div class="mt50 mb50 fw">
            <div class="flex gap20 aic jcse">
                <div>
                </div>
                <div style="position: relative;">
                    <input class="search_bar" type="text" id="character_name" name="character_name" [(ngModel)]="characterNameSearch" aria-autocomplete="list">
                    <button *ngIf="characterNameSearch" class="clear_icon" (click)="characterNameSearch = ''">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25px" viewBox="0 0 24 24"><path d="M20 6.91L17.09 4L12 9.09L6.91 4L4 6.91L9.09 12L4 17.09L6.91 20L12 14.91L17.09 20L20 17.09L14.91 12L20 6.91Z" /></svg>
                    </button>
                </div>
                <div class="filter-container">
                    <span>Test</span>
                </div>
            </div>
        </div>
        <div class="fw characters_display">
            @if (filteredCharactersCard.length != 0) {
                <div [@enter-leave] *ngFor="let characterCard of filteredCharactersCard" 
                    (click)="getCharacterInformations(characterCard.character.name); dialogVisibility = true" 
                    class="fw flex jcc">
                    <div [@hover]="characterCard.hover" 
                        (mouseenter)="characterCard.hover = true"
                        (mouseleave)="characterCard.hover = false" 
                        class="flex aic character_wrapper" 
                        [ngClass]="characterCard.character.vision" >
                        <img (click)="getCharacterInformations(characterCard.character.name)" class="character_icon" [src]=characterCard.character.icon width="80" height="80">
                        <div [ngClass]="characterCard.character.vision" class="flex column fh aic jcc fw character_lite_info_wrapper">
                            <span (click)="getCharacterInformations(characterCard.character.name)" class="character_name">
                                {{characterCard.character.name}}
                            </span>
                            <div class="vision"></div>
                        </div>
                    </div>
                </div>
            } @else {
                <div class="flex aic jcc">
                    <h1 class="no_character_found">Aucun personnage trouvé</h1>
                </div>
            }
        </div>
    </div>
    <div *ngIf="loadingCharacters" class="flex aic jcc column gap50 card">
        <div class="spinner"></div>
        <h2 class="loading_chars">
            Chargements des personnages
        </h2>
    </div>
</div>
<!--<div *ngIf="dialogVisibility">
    <dialog>
        <ng-template #header>

        </ng-template>
        <ng-template #content>

        </ng-template>
        <ng-template #footer>

        </ng-template>
    </dialog>
</div>-->