@use './variables' as vars;
/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: Genshin;
  src: url(./assets/font/genshin_policy.ttf);
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Genshin', sans-serif;
}

app-root {
  display: block;
  height: 100vh;
}

/*Easy SCSS*/

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.row-reverse {
  flex-direction: row-reverse;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.jcsa {
  justify-content: space-around;
}

.jcse {
  justify-content: space-evenly;
}

.jce {
  justify-content: end;
}

.aic {
  align-items: center;
}

.fh {
  height: 100%;
}

.fw {
  width: 100%;
}

@for $i from 1 through 9 {
    .h#{$i * 10} {
      height: #{$i * 10 + '%'};
    }
}

@for $i from 1 through 9 {
    .w#{$i * 10} {
      width: #{$i * 10 + '%'};
    }
}

@for $i from 1 through 5 {
  .ml#{$i * 10} {
    margin-left: #{$i * 10 + 'px'};
  }
}

@for $i from 1 through 5 {
  .mr#{$i * 10} {
    margin-right: #{$i * 10 + 'px'};
  }
}

@for $i from 1 through 10 {
  .mt#{$i * 10} {
    margin-top: #{$i * 10 + 'px'};
  }
}

@for $i from 1 through 10 {
  .mb#{$i * 10} {
    margin-bottom: #{$i * 10 + 'px'};
  }
}

@for $i from 1 through 5 {
  .gap#{$i * 10} {
    gap: #{$i * 10 + 'px'};
  }
}

notification-center {
  position: absolute;
  top: 65px;
  right: 5px;
  height: calc(vars.$height-after-topbar - 25px);
  color: white;
}

app-topbar {
  button {
    border: 1px solid black;
    border-radius: 6px;
    background-color: black;
    color: white;
    padding: 0;
    font-family: 'Genshin', sans-serif;
  }
}