<div class="fh fw flex aic jcc column gap10">
    <div class="top fh fw flex aic jcc">
        <div style="padding : 10px 70px;" class="black_div flex aic jcc column">
            <h3>Version actuelle</h3>
            <h1>5.8</h1>
        </div>
    </div>
    <div class="middle fw fh flex aic jcc">
        <div class="black_div">
            <h1>Test middle</h1>
        </div>
    </div>
    <div class="bottom fw fh flex aic jcc">
        <div class="black_div">
            <h1>Test bottom</h1>
        </div>
    </div>
</div>