<div [@fadeDialog]="dialogVisibility" [class.backgroundMask]="backgroundMask" class="dialog-outside-container" (click)="onOustideDialogClick()" *ngIf="resetFields">
    <div [style]="{'height': height, 'width': width}" class="dialog-container flex column" (click)="$event.stopPropagation()">
        <div *ngIf="dialogStyle.HBF" class="header fw" [class]="style === dialogStyle.HBF ? 'top-element' : ''">
            <ng-content select="[header]"></ng-content>
        </div>
        <div class="body fw flex aic jcc column" [class]="style === dialogStyle.BF ? 'top-element' : style === dialogStyle.B ? 'only-element' : ''">
            <ng-content select="[body]"></ng-content>
        </div>
        <div *ngIf="style === dialogStyle.HBF || style === dialogStyle.BF" class="bottom-element fw">
            <ng-content select="[footer]"></ng-content>
        </div>
    </div>
</div>